p#pogrubienie_isayeu{
    font-size:31px;
    color: #8C5BCD;
}
p#pochylona_isayeu{
    font-size:36pt;
    color: #F0BF69;
}
p#index_gorny_isayeu{
    font-size:1.1cm;
    color: #A08D19;
}
p#index_dolny_isayeu{
    font-size:1.7cm;
    color: #3CF1E1;
}
p#mono_isayeu{
    font-size:41px;
    color: #20DD69;
}
p#powiekszenie_isayeu{
    color: #5A3D9B;
}
p#pomnieszenie_isayeu{
    color: rgb(75%, 63%, 22%);
}