h3 {  
        width: 200pt; 
        height:2.2cm; 
        padding    : 20px; 
        margin-left     : 800px; 
        border     : 10px ridge grey; 
        background : rgb(255,99,71); 
        font-size: 16px;
    } 